$color-light-grey: rgb(247, 247, 247);
$color-grey: #EBEBEB;
$color-dark-grey: #696969;
$color-blue-light: #60CEEA;
$color-blue-dark: #0097DC;
$color-blue-darker: #006EAB;
$color-red: #F12938;
$color-red-light: #FF838B;
$color-red-dark: #CC0C2F;

$main-font: "PT Sans";
