.admin-round-page {
  .header {
    padding-left: 1rem;
    color: white;
    background-color: $color-blue-dark;
  }
  .body {
    padding-left: 2rem;
    .form {
      padding-right: 2rem;
      background-color: $color-red-light;

      .right {
        text-align: right;
      }
    }

    .table {
      &__board {
        table {
          tbody {
            tr.pointer {
              cursor: pointer;

              &:hover {
                background-color: $color-light-grey;
              }
            }
          }
        }
      }
    }
  }
}
