<div class="col s12">
  <div className="card sidebar__card">
    <div className="card-content">
      <img className="sidebar__card--logo" src="https://picsum.photos/200/200/?random" alt="" />
      <div className="text">
        <%= @tournament_name %>
      </div>
    </div>
  </div>
</div>