<div class="row board__top">
  <div class="col s2 puzzle">
    <%= @round.event_name %>
  </div>
  <div s={2} class="col s2 round">
    <%= @round.name %>
  </div>
  <%= if @round.cutoff != "" do %>
    <div class="col s4 cutoff">
      Cutoff time <%= @round.cutoff %>
    </div>
  <% end %>
  <div class="col s4 format">
    <%= @round.format %>
  </div>
</div>
