<div class="row board__top">
  <div class="col s2 puzzle">
    <%= @round.event_name %>
  </div>
  <div s={2} class="col s2 round">
    <%= @round.name %>
  </div>
  <div s={8} class="col s2 description">
    Description
  </div>
</div>