<div class="col s12">
  <div class="card sidebar__card">
    <div class="card-content">
      <img class="sidebar__card--logo" src="https://picsum.photos/200/200/?random" alt="" />
      <div class="text">
        <%= @tournament_name %>
      </div>
    </div>
  </div>
</div>